<div class="index-body">
  <div class="intro">
    <h1>Ironhack Cinema</h1>
    <p>Welcome to the Ironhack Cinema</p>
    <a href="/movies" class="btn btn-lg btn-outline-light">Check the movies!</a>
  </div>
</div>